@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron.light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron.regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron.semibold (1).otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron.bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Aileron', sans-serif;
}

/*client ---------------------------------------------------*/
 #edit-profile-client {
                width: 80%;
                font-weight: 600;
                margin-top: 1rem;
            }
            #edit-profile-client div {
                display: flex;
                border: 2px solid white;
                border-radius: 50px;
                padding: 0.3rem 1rem 0.3rem 1.5rem;
                margin-bottom: 2rem;
                margin-top: 0.3rem;
            }
            #edit-profile-client div img {
                height: 1.7rem;
            }
            #edit-profile-client div:focus-within {
                border-color: #595F34;
            }
            #edit-profile-client label {
                color: #595F34;
            }
            #edit-profile-client button {
                margin-top: 0.4rem;
                margin-bottom: 0.7rem;
                background-color: #595F34;
            }
            #edit-profile-client button:hover {
                box-shadow: 0 0 5px #595F34;
            }
            #edit-profile-client .forget-link{
                color: #595F34;
            }
            .edit-title-client {
                font-weight: 700;
                font-size: 2.5rem;
                color: #595F34;
                text-align: center;
                margin-bottom: 0.3rem;
                margin-top: 1.5rem;
            }
/*architect ---------------------------------------------------*/
            #edit-profile-architect {
                width: 80%;
                font-weight: 600;
            }
            #edit-profile-architect div {
                display: flex;
                border: 2px solid white;
                border-radius: 50px;
                padding: 0.3rem 1rem 0.3rem 1.5rem;
                margin-bottom: 1.6rem;
                margin-top: 0.3rem;
            }
            #edit-profile-architect div img {
                height: 1.7rem;
            }
            #edit-profile-architect div:focus-within {
                border-color: #6A2E2A;
            }
            #edit-profile-architect label {
                color: #6A2E2A;
            }
            #edit-profile-architect input {
                font-size: 1rem;
                color: white;
            }
            #edit-profile-architect button {
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                background-color: #6A2E2A;
            }
            #edit-profile-architect button:hover {
                box-shadow: 0 0 5px #6A2E2A;
            }
            #edit-profile-architect .forget-link{
                color: #6A2E2A;
            }
            .edit-title-architect {
                font-weight: 700;
                font-size: 2.5rem;
                color: #6A2E2A;
                text-align: center;
                margin-bottom: 0.5rem;
            }
/*agency ---------------------------------------------------*/
            #edit-profile-agency {
                width: 80%;
                font-weight: 600;
                padding-top: 2rem;
            }
            #edit-profile-agency div {
                display: flex;
                border: 2px solid white;
                border-radius: 50px;
                padding: 0.3rem 1rem 0.3rem 1.5rem;
                margin-bottom: 1.5rem;
                margin-top: 0.4rem;
            }
            #edit-profile-agency div img {
                height: 1.7rem;
            }
            #edit-profile-agency div:focus-within {
                border-color: #2e496e;
            }
            #edit-profile-agency label {
                color: #2e496e;
            }
            #edit-profile-agency input {
                font-size: 1rem;
                color: white;
            }
            #edit-profile-agency button {
                margin-top: 1.7rem;
                margin-bottom: 1.7rem;
                background-color: #2e496e;
            }
            #edit-profile-agency button:hover {
                box-shadow: 0 0 5px #2e496e;
            }
            #edit-profile-agency .forget-link{
                color: #2e496e;
            }
            .edit-title-agency {
                font-weight: 700;
                font-size: 2.5rem;
                color: #2e496e;
                text-align: center;
                margin-bottom: 0.5rem;
            }


            .forget-link{
                text-decoration: none;
                margin-left: 1.5rem;
                margin-top: 2rem;
                font-weight: 500;
            }
