input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* Replace white with your background color */
    -webkit-text-fill-color: black; /* Replace black with your text color */
    transition: background-color 5000s ease-in-out; /* Prevents flash on autofill */
}

.vector1{
    position: absolute;
    right:0;
    top:0;
    height: 20vw;
}

.vector2{
    bottom: -3rem;
    left:0;
    height: 20vw;
    position: absolute;

}
.form-shape{
    width: 32rem;
    height: fit-content;
    margin: 8vh auto 5vh auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem;
    box-shadow: 0 0 10px #75797c;
    padding: 1rem;
}

.back{
    position: absolute;
    left: 1vh;
    top:1vh;
    height: 4rem;
}

.logo{
    height: 20%;
}

@media (max-width: 425px){
    .form-shape{
        width:27rem;
    }
}

button{
    display: block;
    margin: auto;
    margin-top: 3rem;
    border-radius: 50px;
    padding: 0.7rem 2.75rem 0.7rem 2.75rem;
    font-size: 1rem;
    font-weight: 600;
    border:none;
    color: white;
    transition: box-shadow 0.2s ease;
}
 button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #203757;
}