
.vector1{
    position: absolute;
    right:0;
    top:0;
    height: 20vw;
}

.vector2{
    bottom: 0;
    left:0;
    height: 20vw;
    position: absolute;

}
.form-shape{
    width: 30rem;
    height: fit-content;
    position: absolute;
    top: 11vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem;
    box-shadow: 0 0 10px #5c6d79;
    margin-bottom: 3rem;
}
.back{
    position: absolute;
    left: 1vh;
    top:1vh;
    height: 4rem;
}
.logo{
    height: 20%;
}

@media (max-width: 425px){
    .form-shape{
        width:27rem;
    }
}

button{
    display: block;
    margin: auto;
    margin-top: 3rem;
    border-radius: 50px;
    padding: 0.7rem 2.75rem 0.7rem 2.75rem;
    font-size: 1rem;
    font-weight: 600;
    border:none;
    color: white;
    transition: box-shadow 0.2s ease;
}
 button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #203757;
}