
#login-form {
    width: 80%;
    font-weight: 600;
    margin-top: 1.5rem;
}
.logo{
    margin-top: -1.5rem;
}
.h-signup{
    font-weight: 700;
    font-size: 3rem;
    color:white;

}
#login-form div{
    display: flex;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}
#login-form div img{
    height: 2rem;
}

label{
    margin-left: 1.8rem;
    font-weight: 500;
    color: #1B2B41;
    font-size: 1.2rem;

}
input{
    background-color: transparent;
    border: none;
    width:90%;
}

input:focus {
  outline: none;       
  border: none;        
  box-shadow: none;
  font-size: 1rem ; 
  font-weight: 500;    
}

input:focus::placeholder{
    opacity: 0;
}
#login-form div:focus-within {
  border-color: #1B2B41; 
   
}
input::placeholder{
    color: rgb(228, 226, 226);
   
}

#login-form button{
    display: block;
    margin: auto;
    margin-top: 3rem;
    border-radius: 50px;
    padding: 0.7rem 2.75rem 0.7rem 2.75rem;
    font-size: 1rem;
    font-weight: 600;
    border:none;
    background-color: #1B2B41;
    color: white;
    transition: box-shadow 0.2s ease;
}
#login-form button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #203757;
}
#login-form a{
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.8rem;
    margin-top:  -0.7rem;
    font-size: 0.9rem ;
    color: #2e496e;
    transition: text-decoration 0.4s ease;
}

#login-form a:hover{
text-decoration: underline;
}