/*Genral login*/
.blue:hover{
    filter: drop-shadow(0 0 3px #7D97AA);
}

#login-form {
    width: 80%;
    font-weight: 600;
    margin-top: 1.5rem;
}
.l{
    background-color: #7D97AA;
}

.logo{
    margin-top: 1.7rem;
}
.h-signup{
    font-weight: 700;
    font-size: 3rem;
    color:white;

}
#login-form div{
    display: flex;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}
#login-form div img{
    height: 2rem;
}

label{
    margin-left: 1.8rem;
    font-weight: 500;
    color: #1B2B41;
    font-size: 1.2rem;
}
input{
    background-color: transparent;
    border: none;
    width:90%;
}

input:focus {
  outline: none;       
  border: none;        
  box-shadow: none;
  font-size: 1rem ; 
  font-weight: 500;    
}

input:focus::placeholder{
    opacity: 0;
}
#login-form div:focus-within {
  border-color: #1B2B41; 
   
}
input::placeholder{
    color: rgb(228, 226, 226);
   
}
 
#login-form a{
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.8rem;
    margin-top:  -0.7rem;
    font-size: 0.9rem ;
    color: #2e496e;
    transition: text-decoration 0.4s ease;
}

#login-form a:hover{
text-decoration: underline;
}

#login-form button{
    background-color: #1B2B41;
    margin-bottom: 1rem;
}

/*Client login*/

.c{
    background-color: #8B8E7B;
}
 .green:hover {
    filter: drop-shadow(0 0 3px #595f34);
}
#login-client div{
    display: flex;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.3rem 1rem 0.3rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}
#login-client div img{
    height: 1.7rem;
}
#login-client div:focus-within {
  border-color: #595F34; 
}
#login-client{
   width: 80%;
    font-weight: 600;
    
}

#login-client label{
    color: #595F34;
}
#login-client button{
margin-top: 0.3rem;
margin-bottom: 0.7rem;
background-color: #595F34;
}

 #login-client button:hover{
    box-shadow: 0 0 5px #595F34;
}
.pfp-container{
    position: relative;
    margin-top: 0.5rem;
}
.pfp{
    border: 3px #595F34 solid;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp img{
    height: 10rem;
    margin:-0.8rem;
}

.pfp-mdf{
    background-color: #595F34;
    border-radius: 10rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width:2.3rem;
    height: 2.3rem;
    right:0.2rem;
    bottom: -0.1rem;
}
.pfp-mdf:hover{
    cursor: pointer;
}

.pfp-mdf img{
    height: 3rem;
}

/*architect login css*/
.back .red:hover{
    filter: drop-shadow(0 0 3px #6A2E2A);
}

.ar{
    background-color: #98605C;
    margin-bottom: 1.5rem;
}
.ar .pfp{
    border: 3px #6A2E2A solid;
}
.ar .pfp-mdf{
    background-color: #6A2E2A;
}
.ar .logo{
    margin-bottom: 2rem;
}
#login-architect div{
    display: flex;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.3rem 1rem 0.3rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}
#login-architect div img{
    height: 1.7rem;
}
#login-architect div:focus-within {
  border-color: #6A2E2A; 
}
#login-architect{
   width: 80%;
    font-weight: 600;
    
}

#login-architect label{
    color: #6A2E2A;
}
#login-architect input{
    font-size: 1REM;
    color: white;
}
#login-architect button{
margin-top: 1rem;
margin-bottom: 1.4rem;
background-color: #6A2E2A;
}

 #login-architect button:hover{
    box-shadow: 0 0 5px #6A2E2A;
    
}

.gender-con{
    all: unset;
    display: flex;
    
}
.gender{
    display: flex;
    margin-top: 0.6rem;
}
.gender p{
    color: white;
    margin-left: 0.2rem;
}
 input[type="radio"]:checked {
      border-color: #6A2E2A;
      background-color: #6A2E2A;
    }
input[type="date"]{
    width: 96.5%;
    margin-top:0.3rem ;
    margin-bottom:0.3rem ;
}


/*agency login*/
.ag{
    background-color: #5B7E98;
     margin-bottom: 1.5rem;
}

.ag .pfp{
    border: 3px #2e496e solid;
}
.ag .pfp-mdf{
    background-color: #2e496e;
}
.ag .logo{
    margin-bottom: 2rem;
}
#login-agency div{
    display: flex;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.3rem 1rem 0.3rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}
#login-agency div img{
    height: 1.7rem;
}
#login-agency div:focus-within {
  border-color: #2e496e; 
}
#login-agency{
   width: 80%;
    font-weight: 600;
    
}

#login-agency label{
    color: #2e496e;
}
#login-agency input{
    font-size: 1REM;
    color: white;
}
#login-agency button{
margin-top: 1rem;
margin-bottom: 1rem;
background-color: #2e496e;
}

 #login-agency button:hover{
    box-shadow: 0 0 5px #2e496e;
    
}
/*
input[type="file"] {
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;        
}
input[type="file"] {
  background: url('../../assets/create-account/Add File.png') no-repeat right center;
  background-size: 1rem; 
  padding-right: 20px;   
}
*/