@font-face {
  font-family: 'Aileron';
  src: url('../../fonts/aileron.light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../fonts/aileron.regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../fonts/aileron.semibold (1).otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../fonts/aileron.bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Aileron', sans-serif;
}

.blue:hover{
    filter: drop-shadow(0 0 3px #7D97AA);
}
.l{
    background-color: #7D97AA;
}
.h-signup{
    font-weight: 700;
    font-size: 3rem;
    color:white;
    margin-bottom: 0.5rem;
}

.form-shape p{
    font-weight: 300;
    color:white;
     margin-top: 1rem;
     font-size: 1.5rem;
     margin-bottom: 1rem;
}
.form-shape p:last-of-type{
    font-size: 1rem;
}

.form-shape a:hover{
    text-shadow: 0 0 3px #1B2B41;
}

.form-shape a{
    text-decoration: none;
    color: #1B2B41; 
    font-weight: 600;
}


.role{
    display: block;
    text-align: center;
    padding: 0.8rem 3rem;
    width:100%;
    border:2px #1B2B41 solid;
    border-radius: 50px;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}
.role:hover{
   background-color: #1B2B41;
   color: white;
   cursor: pointer;
}

