#portfolios {
  margin-top: 3rem;
  width: 100%;
}

    .portfolio-slider-wrapper {
            position: relative;
            width: 85%;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin: auto;
            border-radius: 30px;
        }

        .portfolio-slider {
            display: flex;
            align-items: center;
            gap: 2rem;
            transition: transform 0.6s ease;
            position: absolute;
            left: 0;
        }
.color-titles{
    margin-left: 7.5%;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 600;
       background: linear-gradient(to bottom, #1B2B41 , #6A2E2A );
     background-clip: text;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.port-card{
    background-color: white;
    width: 15rem;
    height: 22rem;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
    box-shadow: 0 3px 6px rgb(141, 141, 141);
    position: relative;
    border: 3px solid #1B2B41;
     flex-shrink: 0;
    transition: all 0.4s ease;

}
.port-card.current{
    background-color: #5B7E98;
    transform: scale(1.2);
}

.user-pic{
    position: absolute;
    height:35%;
    top: 15%; /* controls how high it sits (adjust as needed) */
  left: 50%;
  transform: translateX(-50%);
}


.portfolio-cover{
    height:35%;
    background-color: lightgray;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
}
.portfolio-info{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1B2B41;
    
}

.user-name{
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    transform: translateY(2rem);
    transition: all 0.4s ease;

}
.user-name.current{
    transform: translateY(-0.1rem);
    color: white;
}
.numb{
    display: flex;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    opacity: 0;
    transition: all 0.4s ease;
}

.numb.current{
    opacity: 1;
    color: white;
}
.num-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    
}
.num-years{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px #1B2B41 solid;
    width: 4rem;
}

.num-projects p:first-child,.num-years p:first-child{
    font-size: 0.8rem;
}

.num-projects p:last-child,.num-years p:last-child{
    font-size: 1.5rem;
}

.see-more{
    background-color:#1B2B41 ;
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    
}
.see-more.current{
    background-color: white;
    color: #1B2B41;
}
.see-more.current:hover{
    box-shadow: 0 0 3px white;
    cursor: pointer;
}
.nav-lign {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            padding: 0 3%;
            pointer-events: none;
            z-index: 20;
        }

        .nav-arrow {
            color: white;
            background-color: #5B7E98;
            text-align: center;
            width: 40px;
            height: 40px;
            border-radius: 2rem;
            font-size: 1.6rem;
            cursor: pointer;
            pointer-events: all;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
            user-select: none;
        }

        .nav-arrow:hover {
            background-color: #1B2B41;
        }
@media (min-height: 900px){
    .portfolio-slider-wrapper{
        height: 40vh;
    }
}